body {
  padding-top: 190px;
}

@media (min-width: 768px){
  body {
    padding-top: 70px;
  }
}

dd {
  word-break: break-word;
}

.angular-google-map-container {
  height: 400px;
}

.jumbotron .angular-google-map-container {
  -webkit-box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
}