<section ng-controller="mainCtrl as main">

  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <form class="form-inline" autocomplete="off">

          <div class="form-group">
            <label for="name">Введите название</label>

            <input id="name" type="text" class="form-control" placeholder="Введите название"
                   ng-model="main.asyncSelected"
                   uib-typeahead="elem as elem.name for elem in main.getElements($viewValue)"
                   typeahead-loading="loadingElements"
                   typeahead-no-results="noResults">

            <button type="button" class="btn"
                    ng-class="{'btn-default':!main.isCheckVal,'btn-success':main.isCheckVal}"
                    ui-sref="element-detail({ id: main.asyncSelected._id })"
                    ng-disabled="!main.isCheckVal">Показать</button>

            <i ng-show="loadingElements" class="glyphicon glyphicon-refresh"></i>
            <div ng-show="noResults">
              <i class="glyphicon glyphicon-remove"></i> Записи не найдены
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>





</section>